# vim: sw=2
name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-and-test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Ubuntu
            os: ubuntu-22.04
            asan: true
            additional_cmake_args: ""

          - name: Windows
            os: windows-2022
            asan: false
            additional_cmake_args: >-
              -DCMAKE_RUNTIME_OUTPUT_DIRECTORY="${{ github.workspace }}/build/bin"
              -DCMAKE_LIBRARY_OUTPUT_DIRECTORY="${{ github.workspace }}/build/bin"

    steps:
      - uses: actions/checkout@v6

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          additional_cmake_args: ${{ matrix.additional_cmake_args }}

      - name: Build and test
        uses: ./.github/actions/build-and-test
